/* Base Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    /* background: linear-gradient(to bottom right, #f9c795, #f6b532); */
    background-image: url(backGround_cozyStudy.jpg);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat-container {
    display: flex;
    flex-direction: column;
    width: 1200px;
    max-width: 100%;
    height: 80vh;
    background-color: #ffffff80;
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.chat-box {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #f8f8f843;
    border-radius: 15px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.message {
    margin: 15px 0;
    padding: 12px 20px;
    border-radius: 12px;
    max-width: 80%;
    word-wrap: break-word;
    font-size: 1.1em;
}

.user {
    background: #02915a7b;
    color: rgb(55,55,55);
    align-self: flex-end;
    border-top-right-radius: 0;
}

.assistant {
    background: #955a0178;
    color: rgb(55,55,55);
    align-self: flex-start;
    border-top-left-radius: 0;
}

.input-box {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #ffffff9a;
    border-top: 2px solid #f1f1f1;
}

#user-input {
    width: 80%;
    padding: 12px;
    border-radius: 25px;
    border: 1px solid #ddddddc4;
    font-size: 1.1em;
    transition: border-color 0.3s;
}

#user-input:focus {
    border-color: #4245435b;
    outline: none;
}

button {
    margin-left: 10px;
    padding: 10px 15px;
    background-color: #70747185;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

label {
    margin-bottom: 10px;
    font-size: 14px;
  }

button:hover {
    background-color: #6d746f;
}
